.relative {
    position: relative;
}

#trek-container {
    overflow-x: auto;
    overflow-y: visible;
    min-height: 20rem;
}

#trek-table {
    table-layout: fixed;
}

#trek-container thead th {
    white-space: nowrap;
}


#trek-container div.trek-row-formrow {
    min-height: 39px;
}

#trek-container div.trek-column {
    height: 0;
    width: 5rem;
}
#trek-container div.trek-column.trek-column-string {
    height: 0;
    width: 15rem;
}
#trek-container div.trek-column.trek-column-timestamp, 
#trek-container div.trek-column.trek-column-username {
    height: 0;
    width: 10rem;
}
#trek-container div.trek-column.trek-column-control {
    height: 0;
    width: 14rem;
}
#trek-container tbody {
    min-height: 1px;
}

#trek-db-controls .tag {
    margin-right: 0.5rem;
}

