.relative {
    position: relative;
}

#trek-container {
    overflow-x: auto;
    overflow-y: visible;
}

#trek-table {
    table-layout: fixed;
}


#trek-container div.trek-row-formrow {
    min-height: 39px;
}

#trek-container div.trek-column {
    height: 0;
    width: 5rem;
}
#trek-container div.trek-column.trek-column-string {
    height: 0;
    width: 15rem;
}
#trek-container div.trek-column.trek-column-timestamp {
    height: 0;
    width: 10rem;
}
#trek-container div.trek-column.trek-column-control {
    height: 0;
    width: 14rem;
}

    


#trek-container tbody {
    min-height: 1px;
}
